<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Item Input</title>
<link href="styles.css" rel=stylesheet" type="text/css"/>
</head>
      <p>Add item with details:</p>
      <form>
         Item name:<br> <input type="text" name="name">
         <br>
         Item description:<br> <input type="text" name="description">
         <br>
         Online Price:<br> <input type="number" name="price">
         <br>
         URL:<br> <input type ="url" id ="website" name="website">
         <br>
         <br>
         <input type="submit" value="Submit">
         <input type="reset">
      </form>
<body>

</body>
</html>